* {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(21, 21, 21);
    font-family: 'Poppins', sans-serif;
    color: azure;
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    margin-bottom: -10px;
}

/* Nav */
nav {
    color: azure;
}

nav > ul > li {
    list-style-type: none;
}

nav > ul > li > a:link, a:visited {
    color: azure;
    text-decoration: none;
}

nav > ul > li > a:hover {
    text-decoration: underline;
}

/* Links */
#Links > ul > li > a:link, a:visited {
    color: azure;
}

#Links > ul {
    margin-bottom: 30px;
}

/* Images */
img {
    height: 350px;
    width: auto;
}

figure {
    margin-bottom: 30px;
}

#Images > figure > figcaption > a:link, a:visited {
    color: azure;
    text-decoration: none;
}

#Images > figure > figcaption > a:hover {
    text-decoration: underline;
}

/* Forms */
form {
    margin-left: 40px;
}

input {
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
}

#email-input, #username-input {
    margin-bottom: 15px;
    margin-left: -1px;
}

#text-gender {
    margin-bottom: -2px;
}

button {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border-radius: 5px;
    width: 80px;
}

button:hover {
    background-color: rgb(187, 187, 187);
    transition: 0.2s;
}

/* Tables */
table {
    border-collapse: collapse;
    margin-left: 40px;
}

colgroup {
    width: 125px;
}

th, td {
    border: 1px solid azure;
}

td {
    padding-left: 7px;
}

/* Audio and Video */
audio, video {
    margin-left: 40px;
}

video {
    height: 350px;
    width: auto;
    margin-bottom: 30px;
}

/* Iframes */
#Iframes > p, iframe {
    margin-left: 40px;
}

/* Embedded Content */
#Embedded-Content > p {
    margin-left: 40px;
}

/* Footer */
footer {
    text-align: center;
    margin: 50px 0;
}